/JAVAFXSKELETON-JDK24/nbproject/private/
/JAVAFXSKELETON-JDK24/build/
/JAVAFXSKELETON-JDK24/dist/
/JavaFx Control Label/nbproject/private/
/JavaFx Control Label/build/
/JavaFx Control Label/dist/
/EventHandlingandButton/nbproject/private/
/EventHandlingandButton/build/
